## **Scikit-learn**

---

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("../Data/Advertising.csv", index_col=0)
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [6]:
number_of_samples, number_of_features = df.shape[0], df.shape[1]
number_of_samples, number_of_features

(200, 4)

In [10]:
X, y = df.drop("Sales", axis="columns"), df["Sales"]
X.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [13]:
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales, dtype: float64

---

## **Sklearn - typical steps**

1. Train|test split, sometimes train|val|test split.
2. Scaling sometimes required.
    - min-max scaling
    - standardization
    - ...
    - scale the training data
    - scale test data to the training data --> avoiding data leakage
3. Fit algoritm to training data - model training.
4. Predict test data.
5. Evaluate

---

## **Train|test split**

---

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((140, 3), (60, 3), (140,), (60,))

---

## **Feature scaling**

Normalization (min-max feature scaling)
- $X' = \frac{X-X_{\min}}{X_{max}-X_{min}}$

Feature standardization
- $X' = \frac{X-\mu}{\sigma}$ 


---

In [ ]:
from sklearn.preprocessing import minmax_scale